<h2 class="text-center">Get user name and accounts by user id</h2>
<div class ="container">
  <form id= "user-form">
    <div class="form-group">
      <label for="user_id">User id</label>
      <input type="number" class="form-control" id="user_id">
    </div>

    <div class="form-group">
      <label>User name</label>
      <input type="text" class="form-control" id="user_name">
    </div>

    <div class="form-group">
      <label>Balance</label>
      <input type="text" class="form-control" id="total_balance" >
    </div>

    <div class="form-group">
      <label>List accounts</label>
      <ol id="account-list" >
      </ol>
    </div>

    <button type="button" class="btn btn-primary" id="submit-btn">Submit</button>
  </form>
</div>

<script>

  function clear_form() {

    $('#user-form').find("input[type=text], textarea").val("");
    $('#account-list').empty()
  }

  $('#user_id').keyup('change', function() {
    if (this.value === undefined || this.value === ''){
      clear_form()
    }
  })

  $('#submit-btn').on('click', function() {
    var user_id;
    user_id = $('#user_id').val()
    if (user_id === undefined || user_id === ''){
      swal.fire({type: 'error', text: "enter user id first", timer: 2000})
    }
    clear_form()
    swal.showLoading()
    $.ajax({
      url: "/users/" + user_id,
      context: document.body
    }).done(function(data) {
      swal.close()
      $("#user_name").val(data["name"])
      $("#total_balance").val(data["total_balance"])
      for (index in data.accounts){
        account = data.accounts[index]
        $('#account-list').append(`<li >${account.attributes.name} - ${account.attributes.balance}</li>`)
      }
    }).fail(function(xhr, status, error){
      try{
        json_error = JSON.parse(xhr.responseText)
        swal.fire({type: 'error', text: json_error.error, timer: 2000})

      }catch(_){
        swal.fire({type: 'error', text: "Unexpected Error", timer: 2000})
      }
    });
  });
</script>
